<div class="container-flex">
  <div class="container-partial">
    <a class="partial" href="/books/{{this.id}}">
      <h1>Nome do livro: {{this.nome}}</h1>
      <p><span class="bold700">Autor:</span> {{this.nome_author}}</p>
      <p><span class="bold700">Genero: </span> {{this.genero}}</p>
      <p><span class="bold700">Data de lançamento: </span> {{this.data_publicacao}}</p>
      <div class="delete">
        <a href="/books/delete/{{this.id}}" class="delete-btn bold700">DELETAR</a>
      </div>
  </div>

</div>

</a>